<div class="row mt-3 text-left">
    <div class="big-label">Passenger 1 | <b> Seat 10B</b></div>
    <div class="container ml-3 mt-3">
        <div class="row form-group mb-0">
            <label for="usr">Full Name</label>
            <input type="text" class="form-control" id="usr" placeholder="Name" required>
        </div>
        <div class="row">
            <div class="col-8 ">
                <label>Gender</label>
                <div>
                    <div class="custom-control custom-radio  custom-control-inline">
                        <input type="radio" class="custom-control-input" id="male1" name="gender1" value="customEx">
                        <label class="custom-control-label" for="male1">Male</label>
                    </div>
                    <div class="custom-control custom-radio  custom-control-inline">
                        <input type="radio" class="custom-control-input" id="female1" name="gender1" value="customEx">
                        <label class="custom-control-label" for="female1">Female</label>
                    </div>
                    <div class="custom-control custom-radio  custom-control-inline">
                        <input type="radio" class="custom-control-input" id="other1" name="gender1" value="customEx">
                        <label class="custom-control-label" for="other1">Other</label>
                    </div>
                </div>

            </div>
            <div class="col-4 form-group mb-0">
                <label for="usr">Year Of Birth</label>
                <input type="text" class="form-control" id="usr" placeholder="Year of birth" required>
            </div>
        </div>
    </div>
</div>