.container-fluid{
    padding: 20px;
    padding-left: 3%;
    padding-right: 3%;
    
}

.c3-img{
    width: 100% !important;
    height: 24% !important;
    border-radius: 5px;
    margin-bottom: 6px;

    

    -webkit-filter: brightness(0.70);
    filter: brightness(0.70);
}

.nav{
    margin-top: 10px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 16px;
    
}
.nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    font-size: 16px;

}

.nav-link:hover {
    border: transparent;
}

a{
    text-decoration: none;
    color: #999999;
   
}

.block-center{
    height: 100%;
    margin-left: 0px;
}

.c3-form{
    background-color: white;
    border: 1px solid #494949;
    border-radius: 5px;
    padding: 10px 10px !important;
    z-index: 10;
}

#date{
    color: #999999;
    font-weight: lighter;
    font-size: 16px;
}

.block-right{
   /* margin-left: 10px;*/
    height: 100%;

}

#revenue{
    margin-top: 5px;
}

#num-of-booking{
    margin-top: 5px;
}

#bus-type{
    margin-top: 5px;
    position: relative;
}
#bus-route{
    margin-top: 5px;
}



#chart_donut{
    width: 80%;
    height: auto;
    position: absolute;
    margin-left: -20%;
    margin-top: -6%;
    
}

#chart_bustype{
    width: 80%;
    height: auto;
    position: absolute;
    margin-left: -18%;
    margin-top: -7%;
    z-index: 0 !important;
}

#chart_busroute{
    width: 100%;
    height: auto;
    position: absolute;
    margin-left: -15%;
    margin-top: -2%;
}
#paddingbot{
    padding-bottom: 5%;

}

.box{
    position: relative;
   
}
.box .text{
    color: white;
    position: absolute;
    z-index: 999;
    left: 5%;
    bottom: 10%; /* Adjust this value to move the positioned div up and down */
}

#num-signup,
#num-sale,
#num-visit,
#num-revenue{
    font-size: 24px;
}

.col-lg-2 a:hover{
    -webkit-filter: blur(1px); /* Safari 6.0 - 9.0 */
    filter: blur(1px);

    -webkit-filter: saturate(7); 
    filter: saturate(7);

}

.title-donut{
    font-size: 18px;
    margin-left: 50%;
}

.title-chart{
    font-size: 18px;
    border-bottom: 1px solid #494949;
}

.subtitle-donut{
    font-size: 14px;
    margin-left: 50%;
    color: #999999;
    margin-bottom: 3px;
}

.btn-primary{
    font-size: 12px !important;
    color: white !important;
    margin-left: 45% !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    margin-bottom: 9% !important;
    z-index: 9999 !important;
    position: absolute;
}

#bus-type .btn-primary{
    margin-left: 48% !important;
}
