#homeLogo {
  height: 36px;
  margin-left: 24px;
}

.btn {
  border-radius: 5px !important;
  width: 100px;
}

.icon {
  /* color: #494949; */
}

.icon-container {
  height: 40px;
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#my-navbar .nav-item {
  margin: 0px 8px;
  height: 40px !important;
  text-align: center;
  vertical-align: middle;

}


#my-navbar {
  background-color: white !important;
  border-bottom: #494949 solid 1px;
  padding:4px 16px !important;
}

h1 {
  font-size: 48px !important;
  margin: 24px !important;
}




.custom-control-input:focus~.custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba(9, 9, 9, 0.25) !important;
  outline: none !important;

}

.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(9, 9, 9, 0.25) !important;
}

.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: #494949 !important;
  background-color: #494949 !important;
  outline: none !important;
}

.my-inpyt-text {
  border-bottom: #999999 solid 1px !important;
  padding-bottom: 4px !important;
  margin: 0 !important;
}

#my-navbar input{
  height:38px !important;
}

.my-inpyt-text:focus {
  box-shadow: none !important;
  outline: none !important;
  border-bottom: #494949 1.5px solid!important;
}

#searchform {
  background-color: white;
  border: 1px solid #494949;
  border-radius: 5px;
  padding: 16px 8px 8px 8px !important;
}


button.dropdown-toggle:focus-within{
  border:none !important;
  box-shadow: none !important;
  transform: scale(1.2);
  color: #D70303;
}

button.dropdown-toggle:hover{
  border:none !important;
  box-shadow: none !important;
  transform: scale(1.2);
}

button.dropdown-toggle{
  border:none !important;
  box-shadow: none !important;
  width: 100% !important;
  padding:0 !important;
  display: inline !important;
  margin-right: 64px;
}

span{
  padding: 0;
}


#user-avatar{
  width: 30px;
  height:30px; 
  margin:0px;
  border-radius: 50%;
  margin-right: 16px !important;
}

.form-check-label{
  font-size:12px !important;
  color:#999999 !important;
  text-align: left !important;
  position: absolute;
  background-color: white;
  top: -10px;
  left: 10%;
}

#departureday, #returnday{
  position: relative;
}

#searchform-row-div-form{
  margin:0px !important;
}



#searchform-row-div-form div{
  margin:10px 0px;
  padding:1% !important;
}


#searchform-search-button{
  width: 100% auto;
  margin-bottom: 4px;
}



.border{
  border: 1px solid #494949 !important;
  border-radius: 5px;
  padding: 8px;
  background-color:white;
}
.hidden{
  display: none;
}


.label{
  color: #999999;
  font-size: 12px;
}

.big-label{
  color: #494949;
  font-size: 18px;
}

#ticket-info{
  transform: translateX(24px);
  padding: 10px 24px;
}