@import url('https://fonts.googleapis.com/css?family=Cabin+Condensed');
@import '~pretty-checkbox/src/pretty-checkbox.scss';
$theme-colors: (
  "primary": #D70303,
  "danger": #ff4136,
  "secondary": #494949,
  "success": #56C568,
  "info":#207BBF
);

$font-family-sans-serif: 'Cabin Condensed', sans-serif !important;
$font-size-small: 12px;
$font-size-h1: 64px;
$font-size-h2: 48px;
$font-size-h4: 28px;

$gray-base: #494949;
$gray-darker: #333;
$gray-light: #999;

$border-radius-base: 5px;

$brand-primary: #D70303;

@import "node_modules/bootstrap/scss/bootstrap";